mixin(episode, id)

div(
  id = id
  data-episode = episode.episode 
  data-podcast = episode.podcast
  data-date = episode.date 
  data-audio = episode.audio
)
  #episode= episode.episode
  #podcast= episode.podcast
  #date= episode.date
