- subscribed
- podcast

.control
  div(data-controller="sub")
    div(class=(subscribed ? "" : "hidden") data-target="sub.unsubscribe")
      = link_to mdi_svg("minus") + "Unsubscribe", subscriptions_path(itunes_id: podcast.itunes_id),
                  method: :delete,
                  remote: true,
                  class: "button is-info is-outlined"

    div(class=(subscribed ? "hidden" : "") data-target="sub.subscribe")
      = link_to mdi_svg("plus") + "Subscribe", subscriptions_path,
                method: :post,
                remote: true,
                params: { subscription: { itunes_id: podcast.itunes_id,
                                          name: podcast.name,
                                          feed: podcast.feed } },
                class: "button is-info"
    
