.image {
  background-color: whitesmoke;
}

.hidden {
  display: none;
}

span.icon.hidden {
  display: none;
}

svg {
  fill: currentColor;
}

.tags {
  margin-top: 1em;
}

.table {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;

  .td {
    padding-top: 1em;
  }

  @media (max-width: 768px) {
    position: relative;
    left: -1.5rem;
    width: 100vw;
  }
}

.media > div {
  margin-bottom: 1.5em;
}
