.image {
  background-color: whitesmoke;
}

.is-200x200 {
  width: 200px;
  height: 200px;
}

.hidden {
  display: none;
}

span.icon.hidden {
  display: none;
}

svg {
  fill: currentColor;
}

.tags {
  margin-top: 1em;
}

.table {
  width: 100%;
}
