#player {
  padding-right: 1em;

  & > .level {
    width: 100%;
  }

  input[type="range"] {
    border: none;
    box-shadow: none;
  }
}

#player-center {
  width: 100%;
}

.player-info {
  height: 1em;
  font-size: 0.85em;
  margin-bottom: 0.3em;
}

#scrub {
  margin-top: 0.2em;
  padding-top: 0.5em;
}

#playing-art {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 128px;
  height: 128px;
  @media (max-width: 1023px) {
    width: 100px;
    height: 100px;
  }
}

#player-controls {
  @media (max-width: 768px) {
    margin: 0 calc(50% - 110px);
  }
}

#mobile-player {
  @media (max-width: 768px) {
    height: 100px;
    width: 100%;
    padding-left: 100px;
  }
}

.art-placeholder {
  z-index: 2;
  display: flex;
  color: gray;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background-color: whitesmoke;
  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    height: 100px;
    width: 100px;
  }
}

.player-time {
  font-size: 0.8em;
}

#transform {
  transform: rotate(-90deg);
}

.under-player {
  height: 6em;
}

.player-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;

  .button {
    width: 2.2em;
  }
}

.player-loading-show {
  display: flex;
}
