.table-icon-container {
  position: relative;
}

.table-icon {
  position: absolute;
  top: 0px;
  right: 15px;
  @media (max-width: 768px) {
    top: -5px;
    right: 0;
  }
}

.listen-button {
  position: relative;
  top: 5px;
}

.podcast {
  flex: 0 0 auto;
  margin: 0 10px;
  max-width: 200px;
  font-size: 0.9em;
  height: 275px;
  overflow: hidden;
  margin-bottom: 1em;

  img {
    margin-bottom: 0.5em;
  }
}

.podcast-grid {
  display: flex;
  flex-flow: row wrap;
}

#about-hero {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100vw;
  height: 90vh;
}

table.keyboard {
  margin: 0 1em;

  tr > :first-child {
    text-align: right;
  }
  tr > :last-child {
    padding-left: 1em;
  }
  td {
    padding: 0.25em 0;
  }
}

.big-logo {
  font-size: 8em;
}

#nav-logo {
  margin: 0.5em 0.75em 0.5em 0.5em;
}

.menu-icon {
  display: inline-block;
  width: 2em;
  height: 1.5em;

  i {
    transition: all 1s;
  }
}

.more-link {
  margin-left: 1em;
}

.media-art {
  width: 200px;
  height: 200px;
  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.subscribe-container {
  width: 200px;
  @media (max-width: 768px) {
    margin: 0 auto;
  }
}
