.under-player {
  height: 6em;
}

.is-200x200 {
  width: 200px;
  height: 200px;
}

.hidden {
  display: none;
}

svg {
  fill: currentColor;
}

.tags {
  margin-top: 1em;
}

.podcast {
  flex: 0 0 auto;
  margin: 0 10px;
  max-width: 200px;
  font-size: 0.9em;
  height: 275px;
  overflow: hidden;
  margin-bottom: 1em;

  img {
    margin-bottom: 0.5em;
  }
}

.podcast-grid {
  display: flex;
  flex-flow: row wrap;
}

/* player */

#player {
  padding-right: 1em;

  & > .level {
    width: 100%;
  }

  input[type="range"] {
    border: none;
    box-shadow: none;
  }
}

#player-center {
  width: 100%;
}

.player-info {
  height: 1em;
  font-size: 0.85em;
  margin-bottom: 0.3em;
}

#scrub {
  margin-top: 0.2em;
  padding-top: 0.5em;
}

#playing-art {
  background: whitesmoke;
}

.player-time {
  font-size: 0.8em;
}

#transform {
  transform: rotate(-90deg);
}
