.table-icon-container {
  position: relative;
}

.table-icon {
  position: absolute;
  top: 0px;
  right: 15px;
  @media (max-width: 768px) {
    top: -5px;
    right: 0;
  }
}

.listen-button {
  position: relative;
  top: 5px;
}

.podcast {
  flex: 0 0 auto;
  margin: 0 10px;
  max-width: 200px;
  font-size: 0.9em;
  height: 275px;
  overflow: hidden;
  margin-bottom: 1em;

  img {
    margin-bottom: 0.5em;
    width: 200px;
    height: 200px;
  }
}

.podcast-grid,
.podcast-scroll {
  display: flex;
  flex-flow: row wrap;

  .podcast {
    @media (max-width: 768px) {
      max-width: 35vw;
      max-height: 49.5vw;
      img {
        width: 35vw;
        height: 35vw;
      }
    }
  }
}

.podcast-container {
  position: relative;
  width: 95%;
}

.podcast-scroll {
  @media (min-width: 769px) {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.5em;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
  }
}

.scroll-left,
.scroll-right {
  transition: opacity 0.2s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  z-index: 2;
  top: 0;
  bottom: 0;
  span {
    z-index: 3;
    padding-bottom: 100px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.scroll-right {
  background: linear-gradient(to right, hsla(0, 0, 0, 0), white);
  right: 0;
  span {
    padding-left: 50px;
  }
}

.scroll-left {
  background: linear-gradient(to left, hsla(0, 0, 0, 0), white);
  left: 0;
  span {
    padding-right: 50px;
  }
}

.is-transparent {
  opacity: 0;
}

#about-hero {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100vw;
  height: 90vh;

  @media (max-width: 768px) {
    height: 110vh;
  }
}

table.keyboard {
  margin: 0 1em;

  tr > :first-child {
    text-align: right;
  }
  tr > :last-child {
    padding-left: 1em;
  }
  td {
    padding: 0.25em 0;
  }
}

.big-logo {
  font-size: 8em;
}

#nav-logo {
  margin: 0.5em 0.75em 0.5em 0.5em;
}

.menu-icon {
  display: inline-block;
  width: 2em;
  height: 1.5em;

  i {
    transition: all 1s;
  }
}

.more-link {
  margin-left: 1em;
}

.media-art {
  width: 250px;
  height: 250px;
  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.subscribe-container {
  width: 200px;
  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.modal-media {
  @media (max-width: 768px) {
    padding-top: 2.5em;
  }
}
